

elisp/init-search.el
.python-environments/
ac-comphist.dat
auto-save-list/
image-dired/
thumbs/
bookmarks
elpa/
eshell/
tramp
tutorial/

history

.emacs.desktop*
.session
frame-restore-parameters
*.elc
projectile-bookmarks.eld
projectile.cache
.mc-lists.el

ido.last
recentf


